img{
	max-height:250px;
}
.uw {
	color:#740025;
}
.majorCell{
	width:41%;
}
.gradeCell{
	width:10%;
}

.pro{
	height:200px;
}
.table {

	vertical-align: middle;

}
label:before { 
	content: ' '; 
	display: block; 
}
	
#searchError, #passwordError, #userNameError, #emailError, #majorError, #gradeError, #toppingError{
	color:red;
}
